<style>
	body{
		background: url('/img/band/charlie.jpg') no-repeat top left fixed #000;
		-webkit-background-size: 31% auto;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: 31% auto;
		background-position-y: 100%;
		background-position-x: 100%;
	}
</style>

<section data-ng-controller="BioController">
	<div class="container bio-page">
		<div class="background"></div>
		<div class="body">
			<h1>
				<strong>Twisted</strong>Bio
			</h1>

			<p>Twisted Rhythm is a high-energy cover band that plays a variety of music. From blues to rock to pop to country, Twisted Rhythm is sure to satisfy your musical appetite.</p>

			<ul>
				<li><strong>Kayla Feichter</strong> - <span>Lead Vocals, Keys</span></li>
				<li><strong>Charlie Mann</strong> - <span>Lead Guitar, Backing vocals</span></li>
				<li><strong>Kyle Friske</strong> - <span>Bass Guiter, Backing vocals</span></li>
				<li><strong>Michael Feichter</strong> - <span>Drums</span></li>
			</ul>
		</div>
	</div>
</section>