<style>
	body{
		background: url('/img/band/kyle.jpg') no-repeat top left fixed #000;
		-webkit-background-size: 31% auto;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: 31% auto;
		background-position-y: 100%;
		background-position-x: 100%;
	}
</style>

<section data-ng-controller="EventsController">
	<div class="container events-page">
		<div class="background"></div>
		<div class="body">
			<h1>
				<strong>Twisted</strong>Events
				<span class="pull-right">Come check us out at the following events!</span>
			</h1>

			<table class="events-tbl">
				<tbody>
					<tr>
						<td>Feb 8</td>
						<td>9:00</td>
						<td>Red Zone</td>
					</tr>
					<tr>
						<td>Feb 15</td>
						<td>9:30</td>
						<td>Paradise Shores</td>
					</tr>
					<tr>
						<td>Feb 22</td>
						<td>9:00</td>
						<td>T &amp; C</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="clear"></div>
	</div>
</section>