<style>
	body{
		background: url('/img/band/kayla.jpg') no-repeat top left fixed #000;
		-webkit-background-size: 31% auto;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: 31% auto;
		background-position-y: 100%;
		background-position-x: 100%;
	}
</style>

<section data-ng-controller="NewsController">
	<div class="container news-page">
		<div class="background"></div>
		<div class="body">
			<h1>
				<strong>Twisted</strong>News
			</h1>

			<p>Come check us out on <a href="https://facebook.com/twistedrhythmrocks"><strong>Facebook</strong></a>!</p>
		</div>
	</div>
</section>