body{
	background:black;
	font-family: Verdana;
}

.clear{
	clear:both;
}

.container{
	width: 1024px;
	margin:auto;
}

.home{
	margin-top: 25px;
}

.home article{
	min-height:500px;
	width: 21%;
	margin-right:5%;
	background: rgb(255, 255, 255);
	background: -moz-linear-gradient(90deg, rgb(255, 255, 255) 30%, rgb(234, 234, 234) 70%);
	background: -webkit-linear-gradient(90deg, rgb(255, 255, 255) 30%, rgb(234, 234, 234) 70%);
	background: -o-linear-gradient(90deg, rgb(255, 255, 255) 30%, rgb(234, 234, 234) 70%);
	background: -ms-linear-gradient(90deg, rgb(255, 255, 255) 30%, rgb(234, 234, 234) 70%);
	background: linear-gradient(180deg, rgb(255, 255, 255) 30%, rgb(234, 234, 234) 70%);
	border-radius:4px;
	float:left;
	position:relative;
	z-index:2;
	box-shadow: -2px -3px 5px 0px #000;
	/*opacity: 0.7;*/
}

.home article:last-child{
	margin-right:0;
}

.home article span.heading{
	background:rgb(106,187,231);
	position:absolute;
	top:-30px;
	left:5px;
	height:30px;
	line-height: 30px;
	width: 75%;
	padding: 0 4px;
	border-radius: 4px 4px 0 0;
	z-index:1;
	opacity: 1.6;
	font-size: 18px;
	color:rgb(64,64,64);
}

footer{
	color:rgb(64,64,64);
	margin-top:100px;
	padding-top:5px;
	border-top: 1px solid rgb(64,64,64);
}